installations

pip install opencv-contrib-python==4.1.0.25
python 3.7
pip install https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-2.9.0-cp37-cp37m-win_amd64.whl
pip install Flask
pip install flask_mysqldb

