*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/static/img.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

 nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 18px 8%;
        transition: background 1s;
    }

    nav .logo{
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
        color: #FFF;
        font-family:Helvetica;

    }

    nav .logo img{
        width: 50px;
        height:50px;
        margin-right: 10px;

    }

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;

    }

    nav ul li a{
        text-decoration: none;
        color: #FFF;
        font-weight: 800;
    }
    nav ul li a:hover{
        color:  #79ff4d
    }
    nav:hover{
        background-image: linear-gradient(rgba(22, 22, 21, 0.5),rgba(10, 10, 10, 0.849))


    }


.content{
    margin-top: 9%;
    margin-left: 9%;
    color: #FFF;


}

.content h1{
    font-size: 120PX;
    font-weight: 600;
    line-height: 140px;
}

.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}

.links{
    margin-top: 30px;
    opacity: 0;
}
.links a{
    color: #FFF;
    display: inline-block;
    text-decoration: none;

}
 .btn:hover{

        background-image: linear-gradient(rgba(22, 22, 21, 0.5),rgba(10, 10, 10, 0.849))
    }
    .btn{
        border: 2px solid #fff;
        padding: 10px 35px;
        border-radius: 30px;
        margin-right: 15px;
        font-weight: 700;
    }
.slide-left{
    animation: slideleft 1s linear forwards;
    
}

.content a{
    text-decoration: none;
    text-align: center;
    color: #FFF;
}
.content a:hover{
    transform: scale(1.3);
    z-index: 2;
}
.content h1{
    font-family: Brush Script MT,cursive;
}

@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
    
}

p.slide-left{
    animation-delay: 1s;
}
.links.slide-left{
    animation-delay: 2s;
}
